@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font-primary: "Archivo", sans-serif;
    --dark-10: #121214;
    --dark-20: #F3F7FF;
    --dark-30: #FFFFFF;
    --brand-color:#7ca2f4;
}

html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-centro{
    width: 67%;
}

.centraliza{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6.4rem;
    
}

header h2{
    font-family: var(--font-primary);
    font-size: 2.4rem;
    font-weight: 600;
}

section.introducao{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/09b1a20191a57e504bf41c599dbaca80.png") no-repeat;
    background-position: 0 11.5%;
    background-size: cover;
    height: 31.2rem;
    color: white;
    
    
}

.content-introducao{
    display:flex;
    flex-direction: column;
    gap: 2rem;
    font-family: var(--font-primary);
    height: 100%;
    padding: 7rem 0;
}

.title-introducao{
    display: flex;
    align-items: center;
}

.title-introducao h1{
    font-weight: 400;
    font-size: 2.2rem;
}

.introducao-introducao{
    width: 38rem;
}

.introducao-introducao h2{
    font-size: 2.9rem;
    font-weight: 300;
}

.introducao-introducao p{
    font-size: 1.8rem;
    margin: 2rem 0;
    font-weight: 300;
}

.principal{
    padding-bottom: 10rem;
}

.principal-content{
    flex-direction: column;
}

.principal-title-subtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
    padding: 5rem 0;
}

.principal-title-subtitle h2{
    font-size: 3rem;
    font-family: var(--font-primary);
    font-weight: 500;
    
}

.principal-title-subtitle p{
    font-size: 2rem;
    font-family: var(--font-primary);
    padding-top: 3rem;
    text-align: center;
    padding-bottom: 3rem;
}

.cards-tenis{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: var(--font-primary);
}

.cards-tenis li{
    width: 32rem;
    padding-bottom: 5rem;
}

.cards-tenis li div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-20);
    padding: 3rem;
}

.cards-tenis li img{
    width: 20rem;
}

.cards-tenis p:nth-child(1){
    font-size: 1.6rem;
    font-weight: 500;
    padding: 2rem 0 0.5rem 0;
}

.cards-tenis p:nth-child(2){
    font-size: 1.4rem;
    color: var(--brand-color);
    padding: 0.5rem 0 1.5rem 0;
}

.cards-tenis p:nth-child(3){
    font-size: 1.8rem;
}

@media screen and (max-width:959px) {
    .div-centro{
        width: 90%;
    }
}